* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/*///// Game /////*/

body {
  font-family: "Press Start 2P", Courier, monospace;
  text-align: center;
}

.title {
  margin-top: 2rem;
  position: relative;
}

#gameOver {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  z-index: 1;

  height: 130px;
  width: 325px;

  color: aliceblue;
}

.deathScreen {
  display: block !important;
}

/* Scores */

.scoreTitles {
  display: flex;

  align-items: center;
  justify-content: left;

  padding-left: 10rem;
  /* padding-bottom: 0.5rem; */
}

.scores {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
}

.score {
  display: flex;
  padding-right: 2.5rem;
  padding-left: 1rem;

  align-items: center;
}

/* .currentScore {
}

.highestScore {
} */

/* ///// Settings ///// */

main {
  height: 100vh;
  background-color: black;
}

main h1 {
  color: white;
  padding-top: 2rem;
  cursor: default;

  text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

main p {
  color: white;
  cursor: default;
}

main img {
  height: 1rem;
}

main img:hover {
  cursor: pointer;
}

.settings {
  padding: 3rem;
}

.individualSetting {
  display: flex;
  padding-top: 1.5rem;

  text-align: left;
}

.innerSetting {
  width: 30rem;
}

.colon {
  padding-right: 4rem;
}

.toggle {
  display: flex;
  gap: 0.5rem;
}

main button {
  border: none;
  background-color: black;
  color: white;

  font-family: "Press Start 2P";
  font-size: 1.5rem;

  padding-top: 3rem;
}

main button:hover {
  cursor: pointer;
  color: lime;

  text-shadow: 0px 0px 20px rgb(0, 255, 0);
}

.otherRight {
  width: 10rem;
  text-align: center;
}

/* Menu Fade in */

.gameOverOptions:hover {
  cursor: default;
}

.gameOverOptions {
  margin-top: 0.8rem;
  animation-name: gameOverOptions;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: gameOverOptions;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes gameOverOptions {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes gameOverOptions {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gameOverOptions {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
